/* STYLE FOR SEARCH BAR */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    width: 678px;
    margin: 0 auto 1em auto;
}

.search input {
    width: 100%;
    height: 32px;

    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input {
    text-indent: 32px;
}

.search .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}

main{
    display: flex;
    padding-bottom: 4em;
}
main form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 678px;
    height:80%;
    margin:auto;
}

input{
    height:12%;
    text-align: center;

}

textarea{
    border-radius: 5px;
    height : 30%;
    text-align:center;
}

.submit {
    background-color: var(--redButton);
    border-radius: 5px;
    height: 2.3em;
    width: 20%;
    color:#fcfcfc;
    margin: 0 auto;

}

.submit:hover{
    cursor: pointer;
    opacity: 0.8;
}
.hidden {
    display: none;
}

main > p { 
    width: 100%;
    margin: auto;
    text-align:center;
    font-family: var(--varela);
    color: var(--color-text);

}
/* Style for Contact part*/





