article {
    font-size: 1em;
    padding: 2em;   
    margin:auto;
}

article h3 {
    font-size: 2em;
    font-weight: bold;
    
    color:var(--color-text);
    font-family: var(--varela);
    padding-bottom: 0.5em;

    border-radius: 3px;
    }

article p {
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
    margin-bottom: 1em;
    /* COULEUR A REVOIR */
    border-bottom: 0.01em solid #9e948f;
    background-color: var(--bg-aside);
    /* COULEUR A REVOIR */
    border-radius: 5px;
    font-family: var(--raleway);
}


.sources {
    /* COULEUR A REVOIR */
    color: #3caada;
    /* COULEUR A REVOIR */
}

.sources a{
    margin-left: 1em;
    color: var(--color-text);
}