@keyframes AutoSlide {
    0% {
        left: 0px;
        /*1ère image*/
    }

    30% {
        left: 0px;
        /*idem pour attente*/
    }

    35% {
        left: -800px;
        /*2ème image*/
    }

    65% {
        left: -800px;
        /*idem pour attente*/
    }

    70% {
        left: -1600px;
        /*3ème image*/
    }

    95% {
        left: -1600px;
        /*idem pour attente*/
    }

    100% {
        left: 0px;
        /*1ère image*/
    }
}

#slideshow {
    position: relative;
    width: 800px;
    height: 320px;
    margin: 2.5em auto -7em auto;
    overflow: hidden;

}

#sContent li {
    display: inline;
}

#sContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 32000px;
    margin: 0;
    padding: 0;

    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.partone {

    display: inline-block;
    width: 800px;
    height: 300px;
    
}

/*                CARDS                 */

.card_def {
    display: flex;
    flex-direction: row;
    margin: 1em 1em 1em 0;
    background-color: var(--bg-aside);
    border-radius: 6px;
    padding: 1em;
    width: 100%;
    /*height: 100%;*/
}

.logo_def {
    margin: 3%;
    margin-top: 15%;
}

.logo_def img {
    width: 5em;
}

.first_view_def {
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}


h3 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: var(--varela);

}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
    font-family: var(--varela);
}

.first_view_def p {
    font-family: var(--raleway);
    color: var(--color-text);
    height: 6.1em;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--raleway);
}
.first_view_def h2,
.first_view_def h3 {
    font-family: var(--varela);
}

button {
    width: 30%;
    background-color: var(--redButton);
    color: #f9f9f9;
    padding: 3px;
    border-radius: 6px;
    margin: 3vh 0 0 0;

}

button:hover {
    cursor: pointer;
    background-color: var(--redButton);
     /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

