aside{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    max-width: calc(100vw /5);
    min-width: 170px;
    min-height: 100vh;
    grid-row: 1/4;
}

a{
    text-decoration: none;
}

aside a{
    text-align: center;
}

aside a img{
    width: 170px;
    height: 200px;
    margin: 1em auto;
}
aside section{
    padding: 0 1em;
    margin-bottom: 2em;
}

.theme{
    text-align: center;
}
.theme img{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.theme img:hover{
    cursor: pointer;
    opacity: 0.7;
}

aside section ul li{
    list-style: none;
    margin-left: 1em;
    margin-bottom: 0.8em;
    margin-right: 20px;
}

.theme a{
    color: black;
    font-family: var(--varela);
    
    
}

.theme a:hover{
    font-weight: 700;
}


hr{
    width: 80%;
    margin: 0 auto 1em auto;
    color: darkslategrey;
    opacity: 0.8;
}

/* INDEX LETTERS */
table{
    margin: 0 auto;
}


table td{
    text-align: center;
}
table td:last-child{
    text-align: left;
}

table a{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 2px;
    font-family: var(--raleway);
    color: var(--darkSalmon);
}

table a:hover{
    color: darkslategrey;
}
#rightLetter{
    text-align: right;
}
/* END INDEX LETTERS */

