section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}


.card_def{
    display: flex;
    flex-direction: row;
    margin: 1em 1em 1em 0; 
    background-color:#f3f3f3;
    border-radius: 6px;
    padding: 1em;
    width: 45%;

}

.logo_def{
    margin: 3%;
}

.first_view_def{
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Varela round", sans-serif;
}

h4{
    margin: 1% 0% 1% 0;
}

a:hover{
    text-decoration: underline;
}

button{
    width: 30%;
    background-color: #fc3e39;
    color: #f9f9f9;
    padding: 3px;
    border-radius: 6px;
    margin: 1em 0 0 0;

}

button:hover{
    background-color:  #ff4b4b;
}

h4, a{
    font-family: "Raleway", sans serif;
}

@media screen and (max-width: 560px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2em;

    }

    .card_def{
        width: 90%;
    }

}