@media only screen and (max-width: 750px){
   
   body{ 
       width: full;
   }
   article {
    font-size: 1em;
    padding: 2em;
    
  
}
h3 {
    font-size: 2em;
    font-weight: bold;
    color:#3caada;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-radius: 3px;
    }

p {
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
    margin-bottom: 1em;
    border-bottom: 0.01em solid #9e948f;
    background-color: lightgrey;
    border-radius: 5px;
}


#sources , #tags {
    color: #3caada;
}


#sources a , #tags a{
    margin-left: 1em;
    text-decoration: none;
    color: black;
    font-weight: 0.4.em;
}
footer{
    display: none;
}
}