main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main article{
    width: 47%;
    margin-bottom: 3em;
}

main article li{
    list-style: none;

}

main article h3{
    font-family: var(--varela);
    font-weight: 400;
    text-decoration: none;
    color: var(--color-h3);
    font-size: 1.8rem;
    margin: 0.3em 0.1em;
    border-bottom: solid 1px rgb(197, 4, 4);
}

@media only screen and (max-width:800px) {
    main article{
        margin-bottom: 5em;
    }
}