#logomobil,nav{
    display:none;
}
@media only screen and (max-width:750px){
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i&display=swap');

    :root {
        --salmon: #f99797;
        --darkSalmon: #ff4b4b;
        --lightSalmon: #faa5a5;
        --blue: #3caada;
        --redButton: #fc3e39;
        --background: #f9f9f9;
        --raleway: 'Raleway', sans-serif;
        --varela: 'Varela Round', sans-serif;

    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        overflow: hidden;
    } 
    aside,footer{
        display:none
    }
    main{padding: 0;
    background: white;}
    
    #banner{display: none;}

    #logomobil{
        display: block;
        width: 30vw;
        height: 30vw;
        padding: 5vw;
        margin-left: 35vw;
    }
    .search{
        width: 90vw;
        margin-left: 5vw;
    }

    /*carousel*/
    @keyframes AutoSlide {
        0% {
            left: 0px; /*1ère image*/
        }
        30% {
            left: 0px; /*idem pour attente*/
        }
        35% {
            left: -100vw; /*2ème image*/
        }
        65% {
            left: -100vw; /*idem pour attente*/
        }
        70% {
            left: -200vw; /*3ème image*/
        }
        95% {
            left: -200vw; /*idem pour attente*/
        }
        100% {
            left: 0px; /*1ère image*/
        }
    }


    #slideshow {
        position: relative;
        width: 100vw;
        height: 50vh;
        margin:auto ;
        overflow: hidden;
    }

    #sContent li{
        display: inline;
    }
    #sContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 300vw;
        height: 50vw;
        margin: 0;            
        padding: 0;
        
        /*CSS3 keyframes animation*/
        animation-name: AutoSlide;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    #slideshow .partone{
    
        display: inline-block;
        width: 99vw;
        height: 50vh;
        padding: 20px;
    }



    /*     CARDS     */

    #slideshow .card_def{
        display: flex;
        flex-direction: row;
        background-color: var(--background);
        border-radius: 6px;
        width: 100%;
        height: 100%;
        
    }
    #slideshow .logo_def{
        margin: 3%;
        margin-top: 15%;
    }
    #slideshow .logo_def img{
        display: none;
    }
    #slideshow .first_view_def{
        margin-right: 1%;
        display: flex;
        flex-direction: column;
    }

    #slideshow h3{
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        font-family: var(--varela);
    }

    #slideshow h4{
        font-size: 1em;
        font-weight: bold;
        margin: 0.7em;
        text-align: center;
        font-family: var(--varela);
    }
    #slideshow a{
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        height: 6.1em;
        overflow: hidden;

    }
    #slideshow a:hover{
        text-decoration: underline;
    }

    #slideshow button{
        width: 50%;
        background-color:var(--redButton);
        color: var(--background);
        padding: 3px;
        border-radius: 6px;
        margin: 3vh auto 0 auto ;

    }

    #slidesshow button:hover{
        background-color: var(--darkSalmon);
    }


    nav{
        background-color: var(--salmon);
        display: inline-flex;
        width: 100vw;
        padding: 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    nav img{
        margin: auto;
        border-radius: 100%;
    }
    nav .home{
        position: relative;
        margin-top: -2em;
        border-radius: 100%;
        width: 65px;
        height: 65px;
    }

}