body{
    background-color: whitesmoke;
}
.container{
    display: flex;

}
aside{
    width:20%;
    background-color: pink;
}
aside article{
    width: 75%;
    margin: auto;
}

.main{
    width: 75%;
}
