<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    display: flex;
=======
:root {
    --salmon,
    #f99797;
    --darkSalmon,
    #ff4b4b;
    --lightSalmon,
    #faa5a5;
    --blue,
    #3caada;
    --redButton,
    #fc3e39;
    --background,
    #f9f9f9;
>>>>>>> bc91d4e5e702ae350bd02bf1cdcff96b4be64148
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: calc(100vw /5) auto;
    grid-template-rows: auto calc(100vh /8);
}


main {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    padding-top: 2em;
}

main>img {
    width: 678px;
    height: 151px;
    margin: 0 auto;


}

footer {
    background-color: var(--blue);
    grid-column: 2/3;
}