
/*------------slide------------*/
@keyframes AutoSlide {
	0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -805px; /*2ème image*/
	}
	50% {
		left: -805px; /*idem pour attente*/
	}
	70% {
		left: -1610px; /*3ème image*/
	}
	85% {
		left: -1610px; /*idem pour attente*/
	}
	100% {
		left: 0px; /*1ère image*/
	}
}
#slideshow {
	position: relative;
	width: 760px;
	height: 500px;
	margin:  50px 0 10px 40px;
	overflow: hidden;
}
#sContent li{
    display: inline;
}
#sContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 32000px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.partone{

    display: inline-block;
    width: 800px;
    height: 300px;

}