:root {
    --salmon: #f99797;
    --darkSalmon: #ff4b4b;
    --lightSalmon: #faa5a5;
    --blue: #3caada;
    --redButton: #fc3e39;
    --background: #f9f9f9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: calc(100vw /5) auto;
    grid-template-rows: auto calc(100vh /8);
}


main {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    padding-top: 2em;
}

main>img {
    width: 678px;
    height: 151px;
    margin: 0 auto 1em auto;
    border-radius: 10px;
}


/* STYLE FOR SEARCH BAR */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 678px;
  margin: 0 auto 1em auto;
}

.search input {
  width: 100%;
  height: 32px;
  
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}
/* STYLE FOR SEARCH BAR */

footer {
    grid-column: 2/3;
}